/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after, blockquote:before {
  content: '';
  content: none; }

q:after, q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header {
  position: fixed;
  width: 100%;
  height: 60px;
  opacity: 0.95;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #15120A;
  box-shadow: 0 0 5px #0A0A03; }
  .header .logo {
    display: inline-block; }
    @media screen and (max-width: 480px) {
      .header .logo {
        margin-left: 25px; } }
    @media screen and (min-width: 480px) and (max-width: 768px) {
      .header .logo {
        margin-left: 50px; } }
    @media screen and (min-width: 768px) and (max-width: 1280px) {
      .header .logo {
        margin-left: 100px; } }
    @media screen and (min-width: 1280px) {
      .header .logo {
        margin-left: 175px; } }
    .header .logo a {
      text-decoration: none;
      color: #a16834; }
  .header nav {
    display: inline-block;
    height: 50px; }
    @media screen and (max-width: 480px) {
      .header nav {
        margin-right: 25px; } }
    @media screen and (min-width: 480px) and (max-width: 768px) {
      .header nav {
        margin-right: 50px; } }
    @media screen and (min-width: 768px) and (max-width: 1280px) {
      .header nav {
        margin-right: 100px; } }
    @media screen and (min-width: 1280px) {
      .header nav {
        margin-right: 175px; } }
    @media screen and (max-width: 768px) {
      .header nav {
        height: 25px;
        width: 25px;
        background-image: url("../_img/nav.png");
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat; } }
    @media screen and (min-width: 768px) {
      .header nav {
        width: 40%; } }
    .header nav ul {
      display: flex;
      align-items: center;
      list-style-type: none;
      height: 50px; }
      .header nav ul li {
        width: 25%;
        text-align: right; }
        .header nav ul li a {
          font-size: 18px;
          text-decoration: none;
          color: #a16834; }
          .header nav ul li a:hover {
            color: #c38145; }
      @media screen and (max-width: 768px) {
        .header nav ul {
          display: none; }
          .header nav ul.visible {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 50px;
            right: 0;
            background: #15120A; }
            .header nav ul.visible li {
              padding: 15px 0;
              width: 100%;
              text-align: center; }
              .header nav ul.visible li:hover {
                cursor: pointer;
                background: #0A0A03; }
              .header nav ul.visible li a {
                color: #a16834; } }

.banner {
  width: 100%;
  background-image: url("../_img/banner.png");
  background-position: center center;
  background-size: cover;
  box-shadow: 0 0 5px #0A0A03; }
  @media screen and (max-width: 480px) {
    .banner {
      height: 250px; } }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    .banner {
      height: 275px; } }
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    .banner {
      height: 300px; } }
  @media screen and (min-width: 1280px) {
    .banner {
      height: 350px; } }

.main {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #0A0A03; }
  @media screen and (max-width: 480px) {
    .main {
      margin-left: 25px; } }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    .main {
      margin-left: 50px; } }
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    .main {
      margin-left: 100px; } }
  @media screen and (min-width: 1280px) {
    .main {
      margin-left: 175px; } }
  @media screen and (max-width: 480px) {
    .main {
      margin-right: 25px; } }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    .main {
      margin-right: 50px; } }
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    .main {
      margin-right: 100px; } }
  @media screen and (min-width: 1280px) {
    .main {
      margin-right: 175px; } }
  @media screen and (max-width: 480px) {
    .main {
      margin-top: 20px; } }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    .main {
      margin-top: 30px; } }
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    .main {
      margin-top: 40px; } }
  @media screen and (min-width: 1280px) {
    .main {
      margin-top: 50px; } }
  .main article {
    text-align: justify; }

body {
  margin: 0;
  padding: 0;
  background-color: #dcb592;
  font-family: 'Roboto', sans-serif; }
