.banner {
  width: 100%;
  background-image: url("../_img/banner.png");
  background-position: center center;
  background-size: cover;
  box-shadow: 0 0 5px #0A0A03; }
  @media screen and (max-width: 480px) {
    .banner {
      height: 250px; } }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    .banner {
      height: 275px; } }
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    .banner {
      height: 300px; } }
  @media screen and (min-width: 1280px) {
    .banner {
      height: 350px; } }
