.header {
  position: fixed;
  width: 100%;
  height: 60px;
  opacity: 0.95;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #15120A;
  box-shadow: 0 0 5px #0A0A03; }
  .header .logo {
    display: inline-block; }
    @media screen and (max-width: 480px) {
      .header .logo {
        margin-left: 25px; } }
    @media screen and (min-width: 480px) and (max-width: 768px) {
      .header .logo {
        margin-left: 50px; } }
    @media screen and (min-width: 768px) and (max-width: 1280px) {
      .header .logo {
        margin-left: 100px; } }
    @media screen and (min-width: 1280px) {
      .header .logo {
        margin-left: 175px; } }
    .header .logo a {
      text-decoration: none;
      color: #a16834; }
  .header nav {
    display: inline-block;
    height: 50px; }
    @media screen and (max-width: 480px) {
      .header nav {
        margin-right: 25px; } }
    @media screen and (min-width: 480px) and (max-width: 768px) {
      .header nav {
        margin-right: 50px; } }
    @media screen and (min-width: 768px) and (max-width: 1280px) {
      .header nav {
        margin-right: 100px; } }
    @media screen and (min-width: 1280px) {
      .header nav {
        margin-right: 175px; } }
    @media screen and (max-width: 768px) {
      .header nav {
        height: 25px;
        width: 25px;
        background-image: url("../_img/nav.png");
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat; } }
    @media screen and (min-width: 768px) {
      .header nav {
        width: 40%; } }
    .header nav ul {
      display: flex;
      align-items: center;
      list-style-type: none;
      height: 50px; }
      .header nav ul li {
        width: 25%;
        text-align: right; }
        .header nav ul li a {
          font-size: 18px;
          text-decoration: none;
          color: #a16834; }
          .header nav ul li a:hover {
            color: #c38145; }
      @media screen and (max-width: 768px) {
        .header nav ul {
          display: none; }
          .header nav ul.visible {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 50px;
            right: 0;
            background: #15120A; }
            .header nav ul.visible li {
              padding: 15px 0;
              width: 100%;
              text-align: center; }
              .header nav ul.visible li:hover {
                cursor: pointer;
                background: #0A0A03; }
              .header nav ul.visible li a {
                color: #a16834; } }
