.main {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #0A0A03; }
  @media screen and (max-width: 480px) {
    .main {
      margin-left: 25px; } }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    .main {
      margin-left: 50px; } }
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    .main {
      margin-left: 100px; } }
  @media screen and (min-width: 1280px) {
    .main {
      margin-left: 175px; } }
  @media screen and (max-width: 480px) {
    .main {
      margin-right: 25px; } }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    .main {
      margin-right: 50px; } }
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    .main {
      margin-right: 100px; } }
  @media screen and (min-width: 1280px) {
    .main {
      margin-right: 175px; } }
  @media screen and (max-width: 480px) {
    .main {
      margin-top: 20px; } }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    .main {
      margin-top: 30px; } }
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    .main {
      margin-top: 40px; } }
  @media screen and (min-width: 1280px) {
    .main {
      margin-top: 50px; } }
  .main article {
    text-align: justify; }
