@import 'reset.scss';
@import 'mixins.scss';
@import 'header.scss';
@import 'banner.scss';
@import 'main.scss';

body {
    margin: 0;
    padding: 0;
    background-color: lighten($cafe, 30%);
    font-family: 'Roboto', sans-serif;
    //max-width: 100%;
}
