@import 'mixins.scss';
.banner {
    width: 100%;
    background-image: url('../_img/banner.png');
    background-position: center center;
    background-size: cover;
    box-shadow: 0 0 5px $smoky;
    @include up-to-smartphone {
        height: 250px;
    }
    @include smartphone {
        height: 275px;
    }
    @include tablet {
        height: 300px;
    }
    @include desktop {
        height: 350px;
    }
}
