@import 'mixins.scss';
.header {
    position: fixed;
    width: 100%;
    height: 60px;
    opacity: 0.95;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $dark;
    box-shadow: 0 0 5px $smoky;
    .logo {
        @include left-margin;
        display: inline-block;
        a {
            text-decoration: none;
            color: $cafe;
        }
    }
    nav {
        @include right-margin;
        display: inline-block;
        height: 50px;
        @media screen and (max-width: #{$tablet}) {
            height: 25px;
            width: 25px;
            background-image: url('../_img/nav.png');
            background-size: contain;
            background-position: right;
            background-repeat: no-repeat;
        }
        @media screen and (min-width: #{$tablet}) {
          width: 40%;
        }
        ul {
            display: flex;
            align-items: center;
            list-style-type: none;
            height: 50px;
            li {
                width: 25%;
                text-align: right;
                a {
                    font-size: 18px;
                    text-decoration: none;
                    color: $cafe;
                    &:hover {
                        color: lighten($cafe, 10%);
                    }
                }
            }
            @media screen and (max-width: #{$tablet}) {
                display: none;
                &.visible {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                    position: fixed;
                    top: 50px;
                    right: 0;
                    background: $dark;
                    li {
                        padding: 15px 0;
                        width: 100%;
                        text-align: center;
                        &:hover {
                            cursor: pointer;
                            background: $smoky;
                        }
                        a {
                            color: $cafe;
                        }
                    }
                }
            }
        }
    }
}
