@import 'mixins.scss';

.main {
  @include left-margin;
  @include right-margin;
  @include top-margin;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  color: $smoky;
  article {
    text-align: justify;
  }
}
