// COLORS:
$champagne: #FFD7A8;
$sandy: #E8A163;
$cafe: lighten(#54361B, 20%);
$dark: #15120A;
$smoky: #0A0A03; // MEDIA QUERIES
$smartphone: 480px;
$tablet: 768px;
$desktop: 1280px; // MEDIA QUERIEs
@mixin up-to-smartphone {
     @media screen and (max-width: #{$smartphone}){
        @content;
    }
}
@mixin smartphone {
     @media screen and (min-width: #{$smartphone}) and (max-width: #{$tablet}){
        @content;
    }
}
@mixin tablet {
     @media screen and (min-width: #{$tablet}) and (max-width: #{$desktop}){
        @content;
    }
}
@mixin desktop {
     @media screen and (min-width: #{$desktop}){
        @content;
    }
}
// MAIN MARGINS
@mixin left-margin {
     @include up-to-smartphone{
        margin-left: 25px;
    }
    @include smartphone {
        margin-left: 50px;
    }
    @include tablet {
        margin-left: 100px;
    }
    @include desktop {
        margin-left: 175px;
    }
}
@mixin right-margin {
     @include up-to-smartphone{
        margin-right: 25px;
    }
    @include smartphone {
        margin-right: 50px;
    }
    @include tablet {
        margin-right: 100px;
    }
    @include desktop {
        margin-right: 175px;
    }
}
@mixin top-margin {
     @include up-to-smartphone{
        margin-top: 20px;
    }
    @include smartphone {
        margin-top: 30px;
    }
    @include tablet {
        margin-top: 40px;
    }
    @include desktop {
        margin-top: 50px;
    }
}
